

.app {
    display: flex;
}
.app .readerContent {
    width: 1000px;
    position: relative;
}
.app .readerControls {
    margin-left: 0;
    left: 1020px;
}
.app .readerCatalog {
    position: absolute;
    right: 0;
}
.chrex-comment-wrapper {
    flex: 1;
    margin-left: 80px;
    height: 100%;
    position: relative;
    background-color: azure;
    color: #000;
}
